/*
 *
 * ANSIBLE MANAGED by dmaes/wsconfig
 *
 */

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif, FontAwesome5Free;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.75);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.visible {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

#workspaces button.focused {
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-dnf-upgrades {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}


#custom-playerctl {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
    border-bottom: 3px solid #26A65B;
}

#clock {
    border-bottom: 3px solid #ffffff;
}

#battery {
    color: #ffffff;
    border-bottom: 3px solid #26A65B;
}

#battery.charging {
    color: #ffffff;
    border-bottom: 3px solid #7df9ff;
}

#battery.warning:not(.charging) {
    color: #ffffff;
    border-bottom: 3px solid #ffa500;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    border-bottom: 3px solid #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu,
#memory,
#backlight,

#network {
    border-bottom: 3px solid #26A65B;
}

#network.linked, #network.disconnected {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(245, 60, 60, 0.5);
}

#pulseaudio {
    border-bottom: 3px solid #f1c40f;
}

/* #pulseaudio.muted { */
/*     background-color: #90b1b1; */
/*     color: #2a5c45; */
/* } */

#tray {
    border-bottom: 3px solid #2980b9;
}

#custom-dnf-upgrades {
  border-bottom: 3px solid #294172;
}
